<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Employee</title>

  <style>
    /* Style for the header */
    .header {
      font-size: 36px;
      text-align: center;
      margin: 5vh 0;
      color: #333; /* Dark Gray */
      font-family: Arial, sans-serif;
      text-transform: uppercase;
    }

    /* Style for the form */
    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 5vh auto;
      max-width: 420px; /* Adjust as needed */
    }

    .form__input {
      width: 100%; /* Full width */
      height: 2.5rem;
      padding: 0 1.25rem;
      border: 1px solid #333; /* Dark Gray */
      border-radius: 2px;
      margin: 0.625rem 0;
      transition: border-color 0.3s, transform 0.3s;
      box-sizing: border-box; /* Ensure padding is included in width */
    }

    .form__label {
      font-size: 1rem;
      color: #909090; /* Grey */
      margin-bottom: 0.5rem;
    }

    .form__input:focus {
      outline: none;
      border-color: #007bff; /* Blue */
    }

    .form__input::placeholder {
      color: #909090; /* Grey */
    }

    .form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
      transform: translateY(-1.5rem) scale(0.9);
      color: #333; /* Dark Gray */
    }

    .error-message {
      color: #ff0000; /* Red */
      margin-top: 0.5rem;
    }
  </style>
</head>
<body>

<h1 class="header">Edit Employee</h1>

<div class="form">
  <%= form_with model: @employee, html: { class: "form" } do |form| %>
    <% if @employee.errors.any? %>
      <div class="error-message">
        <p>Fix the following errors:</p>
        <% @employee.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :f_name, "First Name", class: "form__label" %>
      <%= form.text_field :f_name, class: "form__input", placeholder: "First Name" %>
    </div>

    <div class="field">
      <%= form.label :m_name, "Middle Name", class: "form__label" %>
      <%= form.text_field :m_name, class: "form__input", placeholder: "Middle Name" %>
    </div>

    <div class="field">
      <%= form.label :surname, "Surname", class: "form__label" %>
      <%= form.text_field :surname, class: "form__input", placeholder: "Surname" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

</body>
</html>
