<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document Form</title>
  <style>
    /* Body styles */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      font-family: Arial, sans-serif;
    }

    /* Form container styles */
    .form-container {
      width: 400px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Field styles */
    .field {
      margin-bottom: 20px;
    }

    .field label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .field input[type="text"],
    .field input[type="number"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }

    /* Submit button styles */
    .actions {
      text-align: center;
    }

    .actions input[type="submit"] {
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .actions input[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>

<div class="form-container">
  <h1>Document</h1>

  <% if document.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</p>
      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: document, local: true) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

<div class="field">
  <%= form.label :type %>
  <%= form.select :type, Document::VALID_TYPES, selected: document.type , prompt: 'slect document type'%>
</div>



<div class="field">
  <%= form.label :employee_id %>
  <%= form.select :employee_id, Employee.all.map { |employee| [employee.f_name, employee.id] },  prompt: 'Select employee' %>
</div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>


    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

</body>
</html>
