<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <style>
    /* CSS styles */
    .form-container {
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 400px;
      max-width: 120%;
      margin: 0 auto;
    }

    .form-container h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
      
    }

    .field {
      margin-bottom: 20px;
    }

    .label {
      display: block;
      margin-bottom: 5px;
      color: #555;
    }

    .input-field {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size: 16px;
    }

    .actions {
      text-align: center;
      margin-top: 20px; /* Added margin top */
    }

    .submit-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 0; /* Adjusted padding */
      width: 100%; /* Ensuring button stays within the container */
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    .submit-button:hover {
      background-color: #0056b3;
    }

    .links {
      text-align: center;
      margin-top: 20px;
    }

    .links a {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>
<body>

<div class="form-container">
  <h2>Forgot Your Password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
    </div>

    <div class="actions">
      <%= f.submit "Send Me Reset Password Instructions", class: "submit-button" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "users/shared/links" %>
  </div>
</div>

</body>
</html>
